.file-input-wrapper{
    border: 1px dashed #aaa;
    border-radius: 0.1em;
    width: 50%;
    margin: 1em;
    padding: 1em;
    height: fit-content;
}

.file-input{
    /* visibility: hidden; */
}

.outer-div{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}